
.login-form{
    width: 470px;
}

.title {
    font-family: Inter;
    font-weight: 700;
    font-size: 50px;
    line-height: 60.51px;
    letter-spacing: 1%;
    padding-bottom: 44px;
    padding-top: 50px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-item .ant-form-item-label > label {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 1%;
    padding-bottom: 10px;
}

.login-form-item .ant-form-item-label {
    margin-bottom: 14px; 
}

.login-input {
    padding: 20px 20px 20px 27px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 10px rgba(247, 2, 2, 0.3);
}

.login-input:hover {
    padding: 20px 20px 20px 27px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 10px rgba(137, 1, 1, 0.3);
}


.login-input .ant-input-prefix {
    margin-right: 15px; 
}

.login-input:focus,
.login-input:focus-visible,
.login-input:focus-within {
  outline: none !important;
  box-shadow: 0 0 5px red;
  border: none !important;
}


.login-btn {
    display: flex;
    align-items: center;
    font-family: Inter;
    font-weight: 500;
    font-size: 25px;
    line-height: 30.26px;
    letter-spacing: 1%;
    padding: 35px 75px;
    border-radius: 300px;
    background-color: rgb(255, 54, 54);
    color: black;
    margin-top: 20px;
}

.login-btn:hover {
    background-color: rgb(147, 4, 4) !important;
    color: rgb(255, 255, 255) !important;
}



.img-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 94px 0 63px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}
  
.circle-red-top-right {
    width: 800px;
    height: 800px;
    background-color: rgba(247, 2, 2, 0.3);
    top: -300px;
    right: -150px;
    z-index: 1;
}
  
.circle-white-overlap {
    width: 600px;
    height: 600px;
    background-color: white;
    top: 200px;
    right: -200px;
    z-index: -1;
}
  
.circle-white-bottom-left {
    width: 900px;
    height: 900px;
    background-color: white;
    bottom: -300px;
    left: -200px;
    z-index: -2;
}

.img-container::before {
    width: 22px; 
    height: 22px;
    top: 139px;
    left: 53px;
}

.img-container::after {
    width: 44px; 
    height: 44px;
    top: 64px;
    left: 75px;
}

.img-content {
    display: flex;
    justify-content: center;
    padding: 0 94px 0 63px;
    height: 100vh;
}

.circle-background::before {
    content: "";
    position: absolute;
    background-image: url(../../../../public/assets/nomadlogo.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    left: 40px;
    width: 500px;
    height: 500px;
}
  
.circle-background span {
    position: absolute;
    width: 50px;
    border-radius: 50%;
    background-color: #005FFD;
    opacity: 0.1;
    z-index: -1;
}


.container {
    padding: 61px 0 0 63px;
}

.title-1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: rgb(153, 0, 0);
  }

  
  

  

