
.side-body {
    display: flex;
    height: 100hv;
    overflow: hidden;
}
 
.side-aside {
    width: 250px;
    height: 100vh;
    background-color: rgba(245, 19, 19, 0.79);
    padding: 22px 20px 0px 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.aside-title {
    width: 135px;
    padding-bottom: 10px;
    color: white;
    padding-left: 3px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.aside-nav {
    display: flex;
    flex-direction: column;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-btn {
    padding: 20px 20px;
    border-radius: 15px;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease; 
    cursor: pointer;
}

.nav-btn:hover {
    background-color: white;
    color: rgb(245, 58, 58);
}

.logout-btn {
    width: 100%;
    background-color: #ffffff;
    color: rgb(245, 58, 58);
    padding: 20px 20px;
    border-radius: 15px;
    bottom: 20px;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.logout-btn:hover {
    border: none !important;
    color: rgb(245, 58, 58) !important;
    padding: 20px 20px;
}
 
.side-right {
    margin-left: 250px; /* Сдвигаем контент вправо, чтобы он не перекрывался сайдбаром */
    width: 100%; /* Занимает оставшееся пространство */
    overflow-y: auto; /* Разрешаем прокрутку контента */
    padding: 20px;
  }



